<div class="container">
    <div class="row">
        <div class="column is-one-quarter">
            <div class="something">
                <div id="booking-wrap">
                    <div class="booking-confirm">
                        <i class="fa fa-heart fa-5x" aria-hidden="true"></i>
                        <p id="thanks">Thank you for booking with HungryGoWhichBlk!</p>
                        <p>We will get in touch with the details of your booking.</p>
                        <a class="waves-effect waves-light btn" href="/">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
