<div class="container">
   <div class="row">
     <div class="column is-full center-div"><img src="<%=@dish.img%>"></div>
   </div>
   <div class="row">
     <div class="column is-full center-div title">Dining with <%=@dish.users[0].name%> at <br><br><span class='small'><%=@dish.users[0].address%></span></div>
   </div>
   <div class="row">
     <div class="column is-full center-div title"><iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1994.343928082651!2d103.85217077633514!3d1.3639540116493825!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ssg!4v1466910810653" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
   </div>
   <div class="row">
     <div class="column is-full center-div">Review | <span class="price">$<%=@dish.price%> </span><span class="greypax">per person</span></div>
   </div>
   <div class="row">
     <div class="column is-one-third center-div"></div>
     <div class="column is-one-third center-div">
       <select class="browser-default">
         <option value="" disabled selected>Wednesday 7:00pm</option>
         <option value="1">Thursday 7:00pm</option>
         <option value="2">Friday 7:00pm</option>
         <option value="3">Monday 7:00pm</option>
       </select>
       <select class="browser-default">
         <option value="" disabled selected>1 Guest</option>
         <option value="1">2 Guests</option>
         <option value="2">3 Guests</option>
         <option value="3">4 Guests</option>
       </select>

       <a class="btn fonttop waves-effect waves-light" href='/booking' type="submit" name="action">Chope</a>
     </div>
     <div class="column is-one-third center-div"></div>
   </div>
   <hr class="divide"></hr>
   <div class="row">
     <div class="column is-full center-div menu">Description</div>
   </div>
   <div class="row">
     <div class="column is-text-side"></div>
     <div class="column is-text center-div">
       <p class="menu-text">
         I am going to share my mee goreng with my neighbours, some say it is the best mee goreng in the whole of Singapore and maybe Malaysia.
       </p>
     </div>
     <div class="column is-text-side"></div>
   </div>
   <div class="row">
     <div class="column is-text-side"></div>
     <div class="column is-text center-div">
       <p class="menu-text">
         This meal includes unlimited servings of mee goreng, eat until you explode!
       </p>
     </div>
     <div class="column is-text-side"></div>
   </div>
 </div>
