<!DOCTYPE html>
<html>
  <head>
    <title>Hdb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-container">
      <div class="navbar">
        <a class="navbar-links" id="navbar-logo" href="/"><i class="fa fa-male logo-people" aria-hidden="true"></i>
        <i class="fa fa-building-o" id="logo-building" aria-hidden="true"></i><i class="fa fa-female logo-people" aria-hidden="true"></i>
        <span id="brand-name">HungryGoWhichBlock</span></a>
        <a class="navbar-links navbar-navi" href="#"><span class="navbar-link">Feed Me Leh</span></a>
        <a class="navbar-links" id="invite" href="#"><span class="navbar-link">Invite</span></a>
        <a class="navbar-links navbar-login" href="/users/sign_in">Login</a>
        <a class="navbar-links" id="sit-down" href="/users/sign_up">Register</a>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
